@model DashBoardViewModel
@{
    ViewData["Title"] = "Dashboard";
}
<div class="row">
    <div class="col">
        <div class="row h-100">
            <div class="col-3 col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-baseline justify-content-between">
                            <i class="zmdi zmdi-hc-4x text-success">
                                @if(Model.StoreSettings is null)
                                {
                                    <text>$</text>
                                }
                                else
                                {
                                    <text>@Model.StoreSettings.Currency</text>
                                }
                            </i>

                            <div>
                                <h3 class="mb-0 display-2">@string.Format("{0:N2}", @Model?.TotalRevenue) </h3>
                                <br />
                                <h2 class="text-md text-secondary">Total Revenue</h2>
                            </div>
                        </div> <!-- end of d-flex -->

                    </div> <!-- end of card-body -->

                </div> <!-- end of card -->
            </div> <!-- end of col -->

            <div class="col-3 col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-baseline justify-content-between">
                            <i class="zmdi zmdi-shopping-cart zmdi-hc-4x text-alert"></i>
                            <div>
                                <h3 class="mb-0 display-2">@Model?.TotalSales</h3>
                                <br />
                                <h2 class="text-md text-secondary">Total Sales</h2>
                            </div>
                        </div> <!-- end of d-flex -->

                    </div> <!-- end of card-body -->

                </div> <!-- end of card -->
            </div> <!-- end of col -->
            <div class="col-3 col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-baseline justify-content-between">
                            <i class="zmdi zmdi-archive zmdi-hc-4x text-warning"></i>
                            <div>
                                <h3 class="mb-0 display-2"> @Model?.TotalProducts</h3>
                                <br />
                                <h2 class="text-md text-secondary">Total Products</h2>
                            </div>
                        </div> <!-- end of d-flex -->

                    </div> <!-- end of card-body -->

                </div> <!-- end of card -->
            </div> <!-- end of col -->
            <div class="col-3 col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-baseline justify-content-between">
                            <i class="zmdi zmdi-account zmdi-hc-4x text-danger"></i>
                            <div>
                                <h3 class="mb-0 display-2">@Model?.TotalCustomers</h3>
                                <br />
                                <h2 class="text-md text-secondary">Total Customer</h2>
                            </div>
                        </div> <!-- end of d-flex -->

                    </div> <!-- end of card-body -->

                </div> <!-- end of card -->
            </div> <!-- end of col -->

        </div> <!-- end of row -->
    </div> <!-- end of col -->


</div> <!-- end of row -->

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body pb-0">
                <div class="d-flex align-items-center align-items-md-start justify-content-between mb-4">
                    <h2 class="text-md mb-0">Recent 5 Sales</h2>

                </div> <!-- end of d-flex -->
            </div> <!-- end of card-body -->
            <div class="table-responsive">
                <table class="table table-hover mb-0">
                    <thead>
                        <tr>

                            <th>Invoice Code</th>
                            <th>Payment Method</th>
                            <th>Payment Status</th>
                            <th>Shipping</th>
                            <th>Discount(%)</th>
                            <th>Grand Total</th>
                            <th>Action</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var sale in Model?.SalesInvoices)
                        {
                            <tr>

                                <td># @sale.InvoiceCode</td>
                                <td>@sale.PaymentMethod</td>
                                <td>@sale.PaymentStatus</td>
                                <td>@sale.Shipping</td>
                                <td>@sale.DiscountPercentage</td>
                                <td>@sale.GrandTotal</td>

                                <td>
                                    <a type="button" class="btn" target="_blank" title="Print" asp-action="GenerateInvoice" asp-route-salesinvoiceid="@sale.SalesInvoiceId" asp-controller="SalesInvoices"><i class="zmdi zmdi-print" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div> <!-- end of table-responsive -->
        </div> <!-- end of card -->
    </div> <!-- end of col -->
</div> <!-- end of row -->
