@model List<Product>
@{
    ViewData["Title"] = "Products";
}

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body pb-0">
                <div class="d-flex align-items-left align-items-md-start justify-content-between mb-4">
                    <h2 class="text-md mb-0 font-weight-bold">All Products</h2>

                    @{
                        await Html.RenderPartialAsync("_AlertPartial");
                    }
                    <div class="text-right">

                        <a asp-controller="Products" is-active-route asp-action="CreateProduct" class="btn btn-primary">
                            <i class="zmdi zmdi-plus-circle zmdi-hc-2x mr-1 icon" aria-hidden="true"></i>
                            Add Product
                        </a>
                    </div>
                </div> <!-- end of d-flex -->

            </div> <!-- end of card-body -->
            <div class="table-responsive col-12 col-lg-10 ml-0">
                <table class="table table-hover mb-0" id="listtable">
                    <thead>
                        <tr>

                            <th>Code</th>
                            <th>Name</th>
                            <th>Price</th>                            
                            <th>Action</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in Model)
                        {
                            <tr>

                                <td>@product.ProductCode</td>
                                <td>@product.Name</td>
                                <td>@product.Price</td>
                                
                                <td>
                                    <form style="float:right;" method="post" asp-route-productid="@product.Id" asp-action="DeleteProduct" asp-controller="Products"
                                      onclick="return confirm('Are you sure you want to delete ?')">
                                        <button title="Delete" type="submit" class="btn"><i class="zmdi zmdi-delete zmdi-hc " aria-hidden="true"></i></button>
                                    </form>
                                    <a style="float:right;" title="Edit" asp-action="EditProduct" asp-controller="Products" asp-route-productid="@product.Id" class="btn"><i class="zmdi zmdi-edit zmdi-hc " aria-hidden="true"></i></a>


                                </td>
                            </tr>
                        }


                    </tbody>
                </table>
                <br />
            </div> <!-- end of table-responsive -->
        </div> <!-- end of card -->
    </div> <!-- end of col -->
</div> <!-- end of row -->
@section Scripts {
    <partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml" />
}