@model List<Customer>
@{
    ViewData["Title"] = "Customers";
}

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body pb-0">
                <div class="d-flex align-items-left align-items-md-start justify-content-between mb-4">
                    <h2 class="text-md mb-0 font-weight-bold">All Customers</h2>

                    @{
                        await Html.RenderPartialAsync("_AlertPartial");
                    }
                    <div class="text-right">
                        
                        <a asp-controller="Customer" is-active-route asp-action="CreateCustomer" class="btn btn-primary">
                            <i class="zmdi zmdi-plus-circle zmdi-hc-2x mr-1 icon" aria-hidden="true"></i>
                            Add Customer
                        </a>
                    </div>
                </div> <!-- end of d-flex -->

            </div> <!-- end of card-body -->
            <div class="table-responsive col-12 col-lg-10 ml-0">
                <table class="table table-hover mb-0" id="listtable">
                    <thead>
                        <tr>

                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Status</th>
                            <th>Action</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var customer in Model)
                        {
                            <tr>

                                <td>@customer.Name</td>
                                <td>@customer.Email</td>
                                <td>@customer.Phone</td>
                                @if (customer.IsActive)
                                {
                                    <td> <span class="badge badge-success">Active</span></td>
                                }
                                else
                                {
                                    <td> <span class="badge badge-secondary">Inactive</span></td>
                                }
                                <td>
                                    <form style="float:right;" method="post" asp-route-customerid="@customer.Id" asp-action="DeleteCustomer" asp-controller="Customer"
                                      onclick="return confirm('Are you sure you want to delete ?')">
                                        <button type="submit" class="btn" title="Delete"><i class="zmdi zmdi-delete zmdi-hc " aria-hidden="true"></i></button>
                                    </form>
                                    <a style="float:right;" title="Edit" asp-action="EditCustomer" asp-controller="Customer" asp-route-customerid="@customer.Id" class="btn"><i class="zmdi zmdi-edit zmdi-hc " aria-hidden="true"></i></a>

                                  
                                </td>
                            </tr>
                        }


                    </tbody>
                </table>
                <br />
            </div> <!-- end of table-responsive -->
        </div> <!-- end of card -->
    </div> <!-- end of col -->
</div> <!-- end of row -->
@section Scripts {
    <partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml" />
}